<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <div class="w-full min-h-screen bg-zinc-900 text-white p-10">
    <h2 class="text-white font-bold text-3xl px-10 pb-5">Choose a Picture!</h2>
    <form class="px-10" autocomplete="off" action="/upload" method="post" enctype="multipart/form-data">
      <input class="rounded-md pb-10" type="file" name="image">
      <div class="flex flex-row space-x-6">
        <input type="submit" value="Upload Photo" class="rounded-md outline-none px-2 py-1 m-2 bg-blue-500 mr-2 mt-2">
        <a class="rounded-md outline-none px-2 py-1 m-2 bg-blue-500 mr-2 mt-2" href="/profile">Go Back</a>
      </div>
    </form>
  </div>
</body>
</html>