<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-black text-white">
  <div class="">
    <h2 class="w-full h-5 text-lg font-bold flex justify-center">Register</h2>
    <form action="/register" method="post">
      <input class="bg-zinc-800 px-3 py-2 m-5 text-md rounded-lg" type="text" placeholder="name" name="name">
      <input class="bg-zinc-800 px-3 py-2 m-5 text-md rounded-lg" type="email" placeholder="email" name="email">
      <input class="bg-zinc-800 px-3 py-2 m-5 text-md rounded-lg" type="text" placeholder="username" name="username">
      <input class="bg-zinc-800 px-3 py-2 m-5 text-md rounded-lg" type="password" placeholder="password" name="password">
      <input class="bg-zinc-800 px-3 py-2 m-5 text-md rounded-lg" type="age" placeholder="age" name="age">
      <input class="bg-blue-600 px-3 py-2 m-5 text-md rounded-lg font-semibold" type="Submit" placeholder="Submit" name="submit">
    </form>
  </div>
</body>
</html>